{{ define "content" }}
<form class="pure-form pure-form-stacked" method="POST" action="">
	<fieldset>
		<legend>New bookmark</legend>
		<label for="title">Title</label>
		<input id="title" name="title" type="text" value="{{.title}}">
		<label for="url">URL</label>
		<input id="url" name="url" type="text" value="{{.url}}">
		<label for="tags">Tags</label>
		<input id="tags" name="tags" type="text" placeholder="space-separated tags">
        <label for="description">Description</label>
		<textarea placeholder="Description" name="description">{{.description}}</textarea>
		<button type="submit" class="pure-button">Submit</button>
	</fieldset>
</form>
{{ end }}
