{{ define "content" }}
<form class="pure-form" method="POST"  style="margin-bottom:20px;">
  <input type="text" name="q" value="{{.q}}">
  <button type="submit" class="pure-button">Search</button>
</form>
{{ range .docs }}
<div style="margin: 30px 0;">
    <a href="{{.url}}" style="text-decoration:none;font-size:1.2em;color:#0074D9;">{{.title}}<br>
        <small style="color:#666;font-size:0.8em;">{{.url}}</small></a>
<a style="text-decoration:none;color:#999;font-size:0.8em;" href="{{ .screenshot_url }}">[screenshot]</a>
<a style="text-decoration:none;color:#999;font-size:0.8em;" href="{{ .pdf_url }}">[pdf]</a>
{{ if .description }}
<div style="color:#333;margin-top:5px;">{{.description}}</div>
{{ end }}
{{ if .tags }}
<div style="color:#FF851B;margin-top:5px;">{{ range .tags }}#{{.}} {{ end }}</div>
{{ end }}
<div style="color:#666;margin-top:5px;"><span class="ago" datetime="{{._created}}">{{ ._created }}</span></div>
</div>
{{ end }}
{{ end }}
